<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo-container">
      <button mat-icon-button
          (click)="sidenav.toggle()"
          color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    mode="side" #sidenav
    position="start" opened
    role="navigation">
    <mat-nav-list class="nav-list">

      <!-- App name -->

      <!-- Username -->

      <!-- Search bar -->
      <form #searchForm="ngForm" class="search-container"> 
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search all notes..." (keyup)="onSearch($event.target)"
            name="search" #search="ngModel" ngModel>
          <button mat-icon-button matIconSuffix (click)="searchForm.reset()"><mat-icon>clear</mat-icon></button>
        </mat-form-field>
      </form>

      <!-- Stacked list -->
      <div class="list-container" cdkDropList
        (cdkDropListDropped)="onDropList($event)">
        <a mat-list-item class="list-item"
          routerLink="/" (click)="onShowAllNotes()">
          <mat-icon>note</mat-icon>
          <span class="nav-caption">All notes</span>
          <span></span>
        </a>        
        <a mat-list-item class="list-item"
          routerLink="/" (click)="onShowDailyNotes()">
          <mat-icon>sunny</mat-icon>
          <span class="nav-caption">Daily</span>
          <span></span>
        </a>        
        <a *ngFor="let list of lists; index as i"
          mat-list-item class="list-item" cdkDrag
          (click)="onSelectList(i)">
          <mat-icon>menu</mat-icon>
          <span class="nav-caption">{{list.title}}</span>
          <span></span>
        </a>
        <form (ngSubmit)="createList(listForm)" #listForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-icon matIconPrefix>add</mat-icon>
            <input matInput placeholder="Add new list..."
              name="newList" #newList="ngModel" ngModel>
          </mat-form-field>
        </form>   
      </div>

      <div class="rights-reserved">
        <span>© FreddyChanNarvaez 2023</span>
        <span>All Rights Reserved</span>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <main>
      <!-- <router-outlet (newItemEvent)="sidenav2.toggle()"></router-outlet> -->
      <app-list-screen (newItemEvent)="sidenav2.toggle(); onSelectNote($event)"
        [result]="notes" [list]="currentList" [isDraggable]="isDraggable"></app-list-screen>
    </main>

  </mat-sidenav-content>

  <mat-sidenav
    mode="side" #sidenav2
    position="end" closed
    role="none">
    <mat-nav-list class="nav-list">
      <!-- <form [formGroup]="formGroup" (ngSubmit)="onUpdateNote()"> -->
      <form [formGroup]="formGroup">
        <mat-form-field>
          <input matInput formControlName="content">
        </mat-form-field>
        <button mat-button type="button" (click)="onUpdateNote()">Save</button>
        <button mat-button color="warn" type="button">Delete</button>
        <!-- <span>{{currentNote.title}}</span> -->
      </form>
    </mat-nav-list>

  </mat-sidenav>
</mat-sidenav-container>
