<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo-container">
      <button mat-icon-button
          (click)="sidenav.toggle()"
          color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    mode="side" #sidenav
    position="start" opened
    role="navigation">
    <mat-nav-list class="nav-list">

      <div class="list-container">
        <a mat-list-item class="item-color"
          routerLink="/">
          <mat-icon svgIcon="dashboard"></mat-icon>
          <span class="nav-caption">Notes</span>
        </a>        
      </div>

      <div class="rights-reserved">
        <span>© FreddyChanNarvaez 2023</span>
        <span>All Rights Reserved</span>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>