<mat-toolbar color="primary">
  <!-- Top bar -->
  <mat-toolbar-row>
    <div class="logo-container">
      <button mat-icon-button
          id="toggleButton"
          (click)="sidenav.toggle()"
          color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="title-container">
      <span>To Do App</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    mode="side" #sidenav
    position="start" opened
    role="navigation">
    <mat-nav-list class="nav-list">
      <!-- Search bar -->
      <form #searchForm="ngForm" class="search-container"> 
        <mat-form-field appearance="outline">
          <input id="search-input" matInput placeholder="Search all notes..." (keyup)="onSearch($event, searchForm)"
            name="search" #search="ngModel" ngModel>
          <mat-icon *ngIf="searchForm.pristine" matIconSuffix>search</mat-icon>
          <button *ngIf="searchForm.dirty" mat-icon-button matIconSuffix (click)="onClearSearch(searchForm)"><mat-icon>clear</mat-icon></button>
        </mat-form-field>
      </form>

      <!-- Stacked list -->
      <div class="list-container" cdkDropList
        (cdkDropListDropped)="onDropList($event)">
        <a mat-list-item class="list-item"
          routerLink="/" (click)="onShowAllNotes()">
          <mat-icon>note</mat-icon>
          <span class="nav-caption">All notes</span>
          <span></span>
        </a>        
        <a mat-list-item class="list-item"
          routerLink="/" (click)="onShowDailyNotes()">
          <mat-icon>sunny</mat-icon>
          <span class="nav-caption">Daily</span>
          <span></span>
        </a>        
        <a *ngFor="let list of lists; index as i"
          mat-list-item class="list-item" cdkDrag
          (click)="onSelectList(i)">
          <mat-icon>menu</mat-icon>
          <span class="nav-caption">{{list.title}}</span>
          <span></span>
        </a>
        <form (ngSubmit)="createList(listForm)" #listForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-icon matIconPrefix>add</mat-icon>
            <input matInput placeholder="Add new list..."
              name="newList" #newList="ngModel" ngModel>
          </mat-form-field>
        </form>   
      </div>

      <!-- No licensed code was harmed during this project -->
      <div class="rights-reserved">
        <span>© FreddyChanNarvaez 2023</span>
        <span>All Rights Reserved</span>
      </div>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- List screen -->
    <main>
      <app-list-screen (newItemEvent)="onSelectNote($event)" [result]="notes" [list]="currentList"
        [isDraggable]="isDraggable" (changedDailyStatus)="onChangeDailyStatus($event)"
        (changedCompletedStatus)="onChangeCompletedStatus($event)"></app-list-screen>
    </main>

  </mat-sidenav-content>

  <!-- Right side bar -->
  <mat-sidenav
    mode="side" #sidenav2
    position="end" closed
    role="none">
    <mat-nav-list class="nav-list">
      <form [formGroup]="formGroup" #editNoteForm="ngForm">
        <mat-form-field>
          <input matInput formControlName="content">
        </mat-form-field>
        <div class="edit-buttons">
          <button mat-raised-button color="primary" type="button" (click)="onUpdateNote()">Save</button>
          <button mat-raised-button type="button" (click)="sidenav2.close()">Cancel</button>
          <button mat-raised-button color="warn" type="button"
            (click)="onDeleteNote()" [disabled]="currentList.id! < 0">Delete</button>
          <span class="warning" *ngIf="currentList.id! < 0">Go to the list to delete note</span>
        </div>
      </form>
    </mat-nav-list>

  </mat-sidenav>
</mat-sidenav-container>
