<mat-checkbox (change)="changeCompletedStatus($event)"
  [checked]="note && note.isArchived" color="primary"
  [matTooltip]="'Mark as ' + (note && note.isArchived ? 'uncompleted' : 'completed')"></mat-checkbox>
<span class="clickable" (click)="onEditNote()" matTooltip="Edit note"
  [ngClass]="{'strikethrough': note && note.isArchived}">{{note && note.content}}</span>
<mat-slide-toggle (change)="changeDailyStatus($event)"
  [checked]="note && note.isFavorite" color="primary"
  [matTooltip]="(note && note.isFavorite ? 'Remove from' : 'Add to') + ' daily'">
  Daily
</mat-slide-toggle>