<mat-checkbox (change)="changeCompletedStatus($event)"
  [checked]="note.isArchived"
  [matTooltip]="'Mark as ' + (note.isArchived ? 'uncompleted' : 'completed')"></mat-checkbox>
<span class="clickable" (click)="onEditNote()" matTooltip="Edit note"
  [ngClass]="{'strikethrough': note.isArchived}">{{note.content}}</span>
<mat-slide-toggle (change)="changeDailyStatus($event)"
  [checked]="note.isFavorite"
  [matTooltip]="(note.isFavorite ? 'Remove from' : 'Add to') + ' daily'">
  Daily
</mat-slide-toggle>