<div class="list-container">
  <div class="title-container">
    <!-- List title -->
    <h1>{{title}}</h1>

    <!-- Tridot menu -->
    <div>
      <button mat-icon-button *ngIf="isDraggable"
        [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onRenameList()">Change list name</button>
        <button mat-menu-item [matMenuTriggerFor]="orderBy">Order by</button>
        <mat-menu #orderBy="matMenu">
          <button mat-menu-item (click)="onSortListBy(0)">
            <mat-icon>sort_by_alpha</mat-icon>
            Alphabetically
          </button>
          <button mat-menu-item (click)="onSortListBy(1)">
            <mat-icon>calendar_month</mat-icon>
            Creation date
          </button>
          <button mat-menu-item (click)="onSortListBy(2)">
            <mat-icon>star_outlined</mat-icon>
            Importance
          </button>
        </mat-menu>
        <button mat-menu-item (click)="onDuplicateList()">Duplicate list</button>
        <button mat-menu-item (click)="onDeleteList()">Delete list</button>
      </mat-menu>
    </div>
  </div>

  <!-- Stacked notes -->
  <div class="notes-container"cdkDropList
    (cdkDropListDropped)="onDropNote($event)">
    <div *ngFor="let note of result; index as i"
      cdkDrag [cdkDragDisabled]="!isDraggable">
      <app-note-block [note]="note" class="note" (editNote)="editNote(i)" 
        (changedDailyStatus)="onEmitDailyStatus(i, $event)"
        (changedCompletedStatus)="onEmitCompletedStatus(i, $event)"></app-note-block>
    </div>
  </div>

  <!-- Create note form -->
  <form [formGroup]="formGroup" (ngSubmit)="createNote()" #theForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-icon matIconPrefix>add</mat-icon>
      <input matInput placeholder="Add new note..." formControlName="newNote">
    </mat-form-field>
  </form>
</div>