<div class="list-container">
  <div class="title-container">
    <h3>{{title}}</h3>
    <span>Today's date</span>
  </div>
  <div class="notes-container">
    <div *ngFor="let note of notes; index as i" class="note" (click)="editNote(i)">
      <mat-radio-button></mat-radio-button>
      <span>{{note.content}}</span>
      <mat-button-toggle mat-icon-button><mat-icon>grade</mat-icon></mat-button-toggle>
    </div>
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="createNote()" #theForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-icon matIconPrefix>add</mat-icon>
      <input matInput placeholder="Add new note..." formControlName="newNote">
    </mat-form-field>
  </form>

</div>